<!DOCTYP html>
<html>
  <head>
    {% include "header.html" %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include "banner.html" %}
    <div class="container">
      <h1 class="text-center">Jovian Careers</h1>
      {% include 'about.html' %}
      <h2 class="text-center" clas="mt2 mb-4">Open Positions</h2>
      <p>
        {% for job in jobs %}
          {% include 'jobs.html' %}
        {% endfor %}
      </p>
      <div style="text-align:center;">
        <button class="btn btn-primary">Contact Us</button>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>